h1 { 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px; 
    font-size: 35px; 
    color: #333; 
  
  }
  p { 
     
    text-align: center;
    font-size: 25px; 
    font-family: cursive;
    background-color: white;
    margin-bottom: 20px; 
    border-radius: 15px;
    padding: 10px; 
  }
  .input-element { 
    display: flex;
    padding: 15px;
    font-size: 18px;
    align-items: center; 
    justify-content: center;
    border-radius: 9px; 
    margin-bottom: 16px;
  
    
  
    
  }
  .button { 
    padding: 10px; 
    width:80px;
    display: flex;
    justify-content: center;
    margin-left: 227px;
    margin-top: 40px; 
    background-color: #ff8c00; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    font-size: 15px; 
  
  
  
  
    
   
    
  }
  .select-label { 
    text-align: center; 
    
    
  }
  form { 
    text-align: center;
    padding: 20px;
    max-width: 600px; 
    margin: auto; 
    background-color: #fff; 
    border-radius: 15px; 
  
  }
  body { 
    text-align: center; 
    padding: 10px; 
    font-size: 25px; 
    background-color: orange;
  }
  .comments { 
    font-size: 25px;
    margin-bottom: 20px; 
    
  }
  .dropdown { 
    padding: 8px;
    width: 100%; 
    border-radius: 15px;
  }
  